.container {
  width: 70%;
  height: 70vh;
  /*  Centrar el contenedor horizontalmente  */
  margin-left: auto;
  margin-right: auto;
  /*Espacio interno del contenedor */
  padding: 3em;
  /* / //background-image: linear-gradient(to right, #e66465, #9198e5); / */
  /*Borde del contenedor */
  border: 3px solid rgb(23, 16, 16);
  /* Bordes redondeados del contenedor */
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

  /* / Ajuste para dispositivos móviles */
  @media (max-width: 600px) {
    width: 90%;
    padding: 2em;
  }
}

form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 3px solid rgb(41, 23, 23);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

@media (max-width: 600px) {
  form {
    width: 80%;
  }
}


label {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  color: #0DA156;

  text-shadow: 1px 1px 2px rgb(40, 32, 32);
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgb(16, 14, 14);
  box-sizing: border-box;
  background-color: transparent;
}

button {
  background-color: transparent;
  color: #000;
  text-shadow: 1px 1px 2px rgb(40, 32, 32);
  padding: 12px;
  border: solid 3px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #45a049;
}

.warning {
  border: solid red 3px;
  border-radius: 0.2em;
}

.danger {
  font-size: 14px;
  color: red;
  margin-left: 10em;
}